@font-face {
    font-family: 'JosefinSans';
    src: url('./assets/josefin-sans/JosefinSans-VariableFont_wght.ttf') format('truetype')
}

:global body{
    font-family: 'JosefinSans', sans-serif;
    background-image: url('./assets/background5.png');
    background-size: cover;
    color: #FFFFFF;
    padding-top: 100px;
}

.app{

}