.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    background: rgb(213,7,74);
    background: linear-gradient(146deg, rgba(213,7,74,1) 0%, rgba(0,212,255,1) 100%);
}

.logo{
    display: inline-block;
    background-color: #ff0049;
    padding: 10px;
}

.text{
    display: inline-block;
    margin: 7px 0 0 0;
}

p.subtext{
    display: inline-block;
    vertical-align: super;
    margin: 3px 0 0 10px;
}
