@import '@graphter/theme/src/colours.pcss';

.exampleEdit{
  color: var(--dark-text);
  background-color: var(--light-background);
  padding: 0;
  margin: 0;
  //border-radius: 0.2em;
  //box-shadow: rgba(0,0,0,0.2) 0 3px 10px, inset 15px 0 0 0 white;
}